Desktop.ini
.DS_Store

# Ignore editor configuration folders | Ignorar carpetas de configuración de editores
.bridge/
.vscode/
.git/

# Ignore compilarions and packs | Ignorar compilaciones y empaquetados
builds/
packs/

# Specific Exceptions | Excepciones específicas
!.bridge/compiler/
!.bridge/extensions

# Specific File Types | Tipos de archivo específicos
*.log
*.txt