Desktop.ini
.DS_Store

# Ignorar carpetas de configuración
.bridge/
.vscode/
.git/

# Ignorar compilaciones y empaquetados
builds/
packs/

# Excepciones específicas
!.bridge/compiler/
!.bridge/extensions
